{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="apartments">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="text-title upper">
                    Вибір власного житла- це один з найважливіших рішень у житті людини. Це не дивно, адже від вибору
                    житла залежатиме комфорт і затишок проживання в певному середовищі кожної людини.<br>Саме тому перед
                    придбанням нової квартири, потрібно обов'язково ретельно підійти до цього питання, щоб не помилитися
                    і зробити максимально правильний вибір квартири для свого подальшого життя.
                </p>
            </div>

            <div class="col-lg-6 col-sm-12">
                <img src="{% static '/img/apartments/Apartment1.png' %}" />
            </div>
            <div class="offset-lg-1 col-lg-5 col-sm-12 info">
                <h5> Двокімнатна квартира в центрі міста</h5>
                <div class="flat--bcg ">
                    <div>
                        <p><span class="title">Місто:</span><span class="name">Рівне</span></p>
                        <p><span class="title">Площа:</span><span class="name">72м<sup>2</sup></span></p>
                    </div>
                    <div>
                        <p><span class="title">Тип житла:</span><span class="name">Квартира</span></p>
                        <p><span class="title">Місто:</span><span class="name">Рівне</span></p>
                    </div>
                </div>
                <div class="btn"><button class="btn--forward">Більше>></button></div>
            </div>

            <div class="col-12 space"> </div>

            <div class=" col-lg-5 col-sm-12 info">
                <h5> Двокімнатна квартира в центрі міста</h5>
                <div class="flat--bcg ">
                    <div>
                        <p><span class="title">Місто:</span><span class="name">Рівне</span></p>
                        <p><span class="title">Площа:</span><span class="name">72м<sup>2</sup></span></p>
                    </div>
                    <div>
                        <p><span class="title">Тип житла:</span><span class="name">Квартира</span></p>
                        <p><span class="title">Місто:</span><span class="name">Рівне</span></p>
                    </div>
                </div>
                <div><button class="btn--forward">Більше>></button></div>
            </div>

            <div class="offset-lg-1 col-lg-6 col-sm-12">
                <img src="{% static '/img/apartments/Apartment2.png' %}" />
            </div>
        </div>
        <div class="col-12 space"> </div>
    </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <img src="{% static '/img/apartments/Apartment1.png' %}" />
            </div>
            <div class="offset-lg-1 col-lg-5 col-sm-12 info">
                <h5> Двокімнатна квартира в центрі міста</h5>
                <div class="flat--bcg ">
                    <div>
                        <p><span class="title">Місто:</span><span class="name">Рівне</span></p>
                        <p><span class="title">Площа:</span><span class="name">72м<sup>2</sup></span></p>
                    </div>
                    <div>
                        <p><span class="title">Тип житла:</span><span class="name">Квартира</span></p>
                        <p><span class="title">Місто:</span><span class="name">Рівне</span></p>
                    </div>
                </div>
                <div class="btn"><button class="btn--forward">Більше>></button></div>
            </div>

            <div class="col-12 space"> </div>

            <div class=" col-lg-5 col-sm-12 info">
                <h5> Двокімнатна квартира в центрі міста</h5>
                <div class="flat--bcg ">
                    <div>
                        <p><span class="title">Місто:</span><span class="name">Рівне</span></p>
                        <p><span class="title">Площа:</span><span class="name">72м<sup>2</sup></span></p>
                    </div>
                    <div>
                        <p><span class="title">Тип житла:</span><span class="name">Квартира</span></p>
                        <p><span class="title">Місто:</span><span class="name">Рівне</span></p>
                    </div>
                </div>
                <div><button class="btn--forward">Більше>></button></div>
            </div>

            <div class="offset-lg-1 col-lg-6 col-sm-12">
                <img src="{% static '/img/apartments/Apartment2.png' %}" />
            </div>
        </div>

        <div class="col-12 space"></div>



        <div class="col-12">
            <nav aria-label="Page navigation example ">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>

    </div>
    </div>
</section>

{% endblock %}