<div class="container-fluid header">
    <div class="header_part_4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="name_1">
                        Ексклюзивне <span>житло</span> <br> в твоєму місті
                    </div>
                    <p>
                        Ми підберемо житло саме під вас, ми працюємо <br>
                        для найвибагливіших клієнтів
                    </p>
                    <form action="about.html">
                        <button class="btn--forward">Більше >></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>