{% load static %}
<header>
    <div class="container-fluid">

        <div class="header_part_1">
        </div>

        <div class="header_part_2">
            <div class="container">
                <div class="row">
                    <div class="col-5 logo">
                        <a href="index.html">
                            <img src="{% static 'img/Logo.png' %}" alt="Logo">
                            <span>GREAT <br> DECISION</span>
                        </a>
                    </div>
                    <div class="col-7 contact">
                        <div>
                            <img src="{% static 'img/phone.png' %}" alt="Phone">
                            <p>Tel + 380 111 8011</p>
                        </div>
                        <div>
                            <img src="{% static 'img/mail.png' %}" alt="Mail">
                            <p>Email: exclusivedirection@ade.com</p>
                        </div>
                        <div class="login">
                            <img src="{% static 'img/login.png' %}" alt="Login">
                            <a href="#">Кабінет</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="header_part_3">
            <div class="container">
                <div class="row">
                    <div class="col-12  menu">
                        <a href="index.html">Головна</a>
                        <a href="about.html">Про нас</a>
                        <a href="guarantee.html">Гарантії</a>
                        <a href="">Що пропонуємо</a>
                        <a href="">Замовити</a>
                        <a href="">Ціни</a>
                        <a href="">Відгуки</a>
                        <a href="discounts.html">Знижки</a>
                        <a href="">Контакти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>